* {
    margin: 0;
    padding: 0;
}

body {
    color: red;
}

.backgroundimage {

    height: 100vh;
    background-image: url("tlo/tlo4-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
.background2{
    height: 100vh;
    background-image: url("tlo/tlo2-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: 40%;
    //height: 50%;

    padding: 20px;
    color: white;
    text-align: justify;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

    .tytul {
        text-align: center;
        padding: 2px;
    }
    
}

.onlock {
    background-color: green;
    /* Green */
}

.przycisk,
.przycisk2 {
    background-color: #efefef;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.przycisk {
    background-color: #237e26;
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    align-self: center;
    &:hover{
        
        background-color: #2dac32;
    }
}

#showRndmdiv:hover {
    box-shadow: 2px 2px 2px grey;
}

.onlock {
    background-color: green;
    /* Green */
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.btn {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;

    #canvas1,
    #canvas2,
    #canvas3 {
        display: flex;
        width: 600px;
        height: auto;
    }

    #canvas3 {
        display: none;
    }
}

.alert {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 8pt;
    padding:4px;
}
#podziekowanie{
    display:none;
    text-align: center;
    padding: 2px;
}
#tytul2{
    text-align: center;
    padding: 2px;
}

@media only screen and (max-width: 768px) {
    .alert {
        color: red;
        display: flex;
        justify-content: center;
        padding:4px;
        font-size: 6pt;
    }
    .backgroundimage {
        //background-color: lightblue;
        background-image: url("tlo/tlo2.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .przycisk {
        font-size: 10pt;
        
    }
    .container {
        font-size: 10pt;
        width: 70%;
        //height: 70%;

    }
    .content{
        margin-top: 10px;
    }
    .image {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        flex-direction: column;
        #canvas1,
        #canvas2,
        #canvas3 {
            display: flex;
            width: 300px;
            height: auto;
            margin: 2px 0 2px 0;
        }
        #canvas3 {
            display: none;
        }
    }
}